@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Definir variáveis no css*/
:root {
    --vermelho: #e50914;
    --preto: #141414;
}

/* reset CSS, altera configurações padrão de cada navegador para 0 - padding e margin.*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* uma vez definido o tamanho de um box, ele mantém-se fiel mesmo que adicionado padding.*/
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: var(--preto);
    color: #fff;
}

/* Barra de Navegação*/

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

header .logo{
    width: 150px;
    padding: 10px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* Filme Principal*/

.filme-principal {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)100%), url("../img/355-home.webp"); /* Linear gradiente nesse caso cria uma camada de preto com transparência que escurece a imagem paracontrastar com o texto.*/
    height: 600px;
    background-size: cover; /* Faz com que a imagem cubra a área de cobertura do bloco*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Para que se alinhem à direita */
    margin-bottom: 10px;
}
.tab-nav {
    /* Stile per la barra di navigazione */
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -70px; /* Modifica questo valore per spostare la barra più in basso o più in alto */
    width: 100%;
    background-color: #33333300;
}

.tab-nav a {
    /* Stile per i link di navigazione nella barra di navigazione */
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.tab-nav a:hover {
    /* Stile al passaggio del mouse sui link di navigazione */
    background-color: #555;
}
.nav-item {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
    transition: border-bottom-color 0.3s;
}
.nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent; /* Colore iniziale della striscia */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out, background-color 0.3s;
}

.nav-item.selected::after {
    background-color: #00ff00; /* Colore della striscia verde quando l'elemento è selezionato */
    transform: scaleX(1);
    transform-origin: bottom left;
}

.filme-principal .titulo-filme-principal{
    width: 30%;
    min-width: 260px;
}

.filme-principal .descricao {
    width: 40%;
    min-width: 250px;
    margin: 30px 0 ;
}

.botao {
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 12px;
    cursor: pointer; /* Ao passar o mouse indica que é clicável*/
    font-weight: 600;
    transition: .3s ease all;
    margin-top: 10px;
    width: 200px;
}

.botao:first-child {
    background-color: var(--vermelho);
    margin-right: 15px;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 5px;
}

.container {
    margin: 0 20px;
}

/* Carrossel */

h3{
    margin: 10px;
}

.box-series-lista {
    width: 20%;
    height: 20%;
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #00000080;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #000000;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropbtn {
    background-color: #4caf4f00;
    color: #AAAA;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

.descricao {
    /* Aggiungi margini, padding o altri stili secondo le tue esigenze */
    margin-right: 20px; /* Aggiungi spazio tra i paragrafi, se necessario */
}





